<launch>

  <machine name="robotPC" address="192.168.128.128" user="nao" password="a4naos" />

  <node pkg="tf" type="static_transform_publisher" name="odom_to_laser"
     args="0.16 0.0 0.1 0.0 0.0 0.0 base_link front_laser_link 0.1" />

  <!-- pioneer motion driver -->
  <node pkg="p2os_driver" type="p2os" name="robot" machine="robotPC" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <!-- hokuyo laster scanner driver -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="laser" machine="robotPC" >
    <param name="frame_id" value="front_laser_link" />
    <remap from="scan" to="front_laser" />
  </node>
</launch>
